.tld {

}

.item {
    height: 100px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.item:hover {
    background-color: #1757E7;
    color: white;
}

.back {
    cursor: pointer;
}

.selectedTLD {
    background-color: #1757E7;
    color: white;
}